body {
  margin: 50px;
  text-align: center;
}

/* CSS Bàn Cờ Vua */
.text-heading {
  font-size: 3rem;
}
.table {
  margin: 0px 410px;
}
.form-table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
}
.table-th {
  width: 50px;
  height: 50px;
}
.form-table__table-th {
  border: none;
  background-color: orange;
}
.form-table-th {
  transform: rotate(180deg);
}
.table-tr:nth-child(even) .table-th-color:nth-child(odd) {
  background-color: black;
}
.table-tr:nth-child(odd) .table-th-color:nth-child(even) {
  background-color: black;
}

/* CSS Lịch tháng 6 */
.text-heading1 {
  margin: 50px;
  font-size: 3rem;
}
.form-table1{
  border-collapse: collapse;
  width: 100%;
}
.form-table--th, .form-table-td{
  border: 1px solid #fff;
  padding: 5px;
}
.form-table--th{
  background-color: orange;
  color: #fff;
}
.form-table--th:nth-child(1){
  background-color: red;
}
.form-table--th:nth-last-child(1){
  background-color: blue;
}
.form-table-td:nth-child(1){
  color: red;
}
.form-table-td:nth-last-child(1){
  color: blue;
}
/* css table-bottom */
.form-table--td{
  border: 3px solid #e0e0e0;
  padding: 10px;
  font-size: 20px;
}
.form-table--td:nth-child(1){
  color: red;
}
.form-table--td:nth-last-child(1){
  color: blue;
}
.form-table--td__small{
  font-size: 10px;
  position: relative;
  top: 3px;
  left: -6px;
}
/* .sm-text {
  font-size: 0.5rem;
  position: relative;
  top: 2px;
  left: -4px;
} */

